@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Red+Rose&display=swap');

.main {
    background-color: beige;
    margin: 20px;
    flex-basis: 20%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 100px 30px;
    height: 40px;
}

p {
    margin: 100px 30px;
    height: 40px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

}